[build-system]
requires = [
  "setuptools>=42",
  "wheel",
  "setuptools_scm[toml]>=3.4",
  "setuptools_scm_git_archive"
]

[tool.coverage.run]
branch = true

[tool.isort]
profile = "black"

[tool.mypy]
plugins = "numpy.typing.mypy_plugin"
strict = true

[tool.setuptools_scm]
write_to = "sarsen/version.py"
write_to_template = '''
# don't change, don't track in version control
__version__ = "{version}"
'''
